$accordion-color: #fff;
$accordion-bg: transparent;
$accordion-button-color: #fff;
$accordion-button-bg: transparent;
$accordion-button-active-bg: transparent;
$accordion-button-active-color:#fff;
$accordion-button-focus-border-color:#fff;
$accordion-button-focus-box-shadow: #fff;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

